.green{
    width: 752px;
    height: 237px;
    background-color: rgba(45,112,83);
    margin-left: 200px;
    background-image: url("./img/big_circle.png"), url("./img/menu.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 36px 45px, 600px 70px;
}

.text{
    font-size: 28px;
    color:white;
    padding-left: 250px;
    padding-top: 25px;
    font-family: "Arial", Georgia, Serif;
}

h4{
    font-weight: 100;
}

.room{
    width: 752px;
    height: 470px;
    background-image: url("./img/room.png");
    margin-left: 200px;
}

.button{
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    background-repeat: space;
    position: relative;
    top: 350px;
    margin-left: 210px;
}
    
.text_1{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 23px 47px;
    position: absolute; 
    font-family: "Arial", Georgia, Serif;
}    

.dan{
    width: 752px;
    height: 850px;
    background-color: white;
    background-image: url("./img/girl.png");
    background-repeat: no-repeat;
    margin-left: 200px;
    background-position: 36px 45px;    
}

.text_2{
    display:inline-block;
    width: 220px;
    height: 70px;
    margin-left: 356px;
    margin-top: 79px;
    font-size: 20px;
    font-family: "Arial", Georgia, Serif;
}

.text_3{
    font-size: 20px;
    padding-top: 91px;
    font-family: "Arial", Georgia, Serif;
}

p{
    font-size: 22px;
    font-family: "Arial", Georgia, Serif;
}

.button_2{
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    background-repeat: space;
    position: relative;
    margin-left: 210px;
}

.end{
    width: 752px;
    height: 156px;
    background-color:#888888;
    background-image: url("./img/circle.png");
    background-repeat: no-repeat;
    background-position: 42px 38px;
    margin-left: 200px;
}

a{
    outline: none;
	text-decoration: blink;
	color: white;
}

.adress {
    color: white;
    display: inline-block;
    width: 260px;
    margin-left: 323px;
    margin-top: 115px;

}

.contacts {
    color: white;
    display: inline-block;
    width: 150px; 
}